*,body{
    margin: 0;
    margin-right: 0;
    padding: 0;
    margin: 0;
    
}
.travelpage{
   
    width: 100%;
    height: 6406px;
    top: 142px;
    left: 392px;
    padding-right: -4em; 


}
.firstpage{
    
  
    width: 100vw;

    height: 140vh;
    flex-shrink: 0;
    opacity: 0.9;
    background: url(image_and_png/bgimage.png), lightgray 50% / cover no-repeat;
    background-size: cover;
   
    background-repeat: no-repeat;
   
    

}
.navbar ul{
    display: flex;
    justify-content: space-around;
    
    padding: 0.5rem 1.25rem;
    height: 2.5rem;
   
    
}


li{
    list-style: none; 
   
    justify-content: center;
    align-items: center;

}
.btn{
   
    display: inline-flex;
    height: 40px;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #EC682C;
    background: #EC682C;
    color: #FFF;
    font-family: Poppins;
    font-size: 22.612px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.heading{
 
   
   
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Peralta;
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}
.navli{
    color: var(--1st, #212832);
    text-align: center;
    font-family: Poppins;
    font-size: 22.612px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 0.5em;

}
.page1content{
    display: flex;
    flex-direction: column;
    padding-top: 7em;
    padding-left: 1em;

    width: 100%;
    height: 89px;
    flex-shrink: 0;
    color: #4B40C5;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 118.381px; /* 246.627% */
    letter-spacing: -1.92px;

}
.retbg{
    display: flex;
    width: 195px;
    height: 29px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    width: 228.01px;
    height: 75.882px;
    flex-shrink: 0;
    border-radius: 13.301px;
    background: #4B40C5;
    box-shadow: 0px 26.60243034362793px 46.55425262451172px 0px rgba(241, 165, 1, 0.15);
    color: #FFF1DA;
    text-align: center;
    font-family: Poppins;
    font-size: 23.942px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
.pg1line{
    width: 757px;
    height: 47px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 1em;
}
.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: auto;
   
  
}
.cards{
    display: flex;
    
    align-content:space-between;
    text-align: center;
    max-width: max-content;
    flex-wrap: wrap;
    column-gap: 50px;
  
}


.cat1{
    color: #4B40C5;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cat2{
    width: 898px;
    height: 81px;
    flex-shrink: 0;
    color: var(--3rd, #14183E);
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.card {
    margin-top:5em;
    display: flex;
    flex-direction: column;
    
    height:fit-content;
   
    overflow: visible;
    width: 20vw;
    
    justify-content: space-around ;
    align-items: center;
    
   
  }
  .shadow1{
    background: #fff;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    position: relative;
    
    
  }
  
  .Card_Image{
    width: 107.90199279785156px;
    height: 97.76201629638672px;
    top: 1293.7821044921875px;
    left: 152.16082763671875px;
    border-radius: 23.942188262939453px 6.650607585906982px 13.301215171813965px 6.650607585906982px;
    padding-top: 1em;
    
    
  }
  
  
  
  .card h4 {
    
    margin-bottom: 10px;
    padding: 1em;
    width: auto;
    
    height: 34px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
  
  .card p {
    font-size: 1rem;
    margin-bottom: 15px;
   
    
    
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.583px; /* 172.916% */
  }
  .section{
    padding: 1em;
    margin: 5em;
    flex-wrap: wrap;
   
    
  }
 .bg1{
    
    background-image: inherit;
    width: 117.28479003906294px;
    height: 125.3326263427739px;
    position: absolute;
    z-index: -1;
    top:-45px;
    right: -30px;
    

 }
 .bg{
    
    width: 117.2847900390625px;
    height: 125.33262634277344px;
    top: 1550.7222900390625px;
    left: 357.40936279296875px;
    border-radius: 39.90364456176758px 0px 13.301215171813965px 0px;
    position: absolute;
    z-index: -1;
    top:210px;
    
    left:-40px
   
    
    
 }
 .boxparagraph{
    max-width: fit-content;
    text-align: center ;
    text-overflow: inherit;
    padding-left: 1em;
    text-size-adjust:inherit ;
 }


.sellingcard{
    display: flex;
    
    justify-content:space-around;
    flex-wrap: wrap;

   margin: 0;
   padding: 0;
   
}


.container1{
    margin-top: 5em;
    width: 417.658px;
    height: 607.866px;
    flex-shrink: 0;
    border-radius: 31.923px;
    background: url(image_and_png/romeitallynew.jpg), lightgray 50% / cover no-repeat;
    background-size: cover;
   
    box-shadow: 0px 2.46319px 4.18742px 0px rgba(0, 0, 0, 0.00), 0px 10.83803px 8.67042px 0px rgba(0, 0, 0, 0.01), 0px 26.60243px 17.29158px 0px rgba(0, 0, 0, 0.01), 0px 51.23432px 33.89346px 0px rgba(0, 0, 0, 0.01), 0px 86.21157px 62.31867px 0px rgba(0, 0, 0, 0.02), 0px 133.01216px 106.40972px 0px rgba(0, 0, 0, 0.02);
  
    
}
.container2{

    margin-top: 5em;
    width: 417.658px;
    height: 607.866px;
    flex-shrink: 0;
    border-radius: 31.923px;
    background: url(image_and_png/londonuknew.jpg), lightgray 50% / cover no-repeat;
    box-shadow: 0px 2.46319px 4.18742px 0px rgba(0, 0, 0, 0.00), 0px 10.83803px 8.67042px 0px rgba(0, 0, 0, 0.01), 0px 26.60243px 17.29158px 0px rgba(0, 0, 0, 0.01), 0px 51.23432px 33.89346px 0px rgba(0, 0, 0, 0.01), 0px 86.21157px 62.31867px 0px rgba(0, 0, 0, 0.02), 0px 133.01216px 106.40972px 0px rgba(0, 0, 0, 0.02);

}
.container3{
    
    margin-top: 5em;
    width: 417.658px;
    height: 607.866px;
    flex-shrink: 0;
    border-radius: 31.923px;
    background: url(image_and_png/eruopenew.jpg), lightgray 50% / cover no-repeat;
    box-shadow: 0px 2.46319px 4.18742px 0px rgba(0, 0, 0, 0.00), 0px 10.83803px 8.67042px 0px rgba(0, 0, 0, 0.01), 0px 26.60243px 17.29158px 0px rgba(0, 0, 0, 0.01), 0px 51.23432px 33.89346px 0px rgba(0, 0, 0, 0.01), 0px 86.21157px 62.31867px 0px rgba(0, 0, 0, 0.02), 0px 133.01216px 106.40972px 0px rgba(0, 0, 0, 0.02);   
}
.c{
    color: var(--TEXT-CLR, #5E6282);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
background-size: cover;
line-height: 124.5%; 

}

.card-1{
    margin-top: 19em;
   
      
    height: 172.916px;
    flex-shrink: 0;
    border-radius: 0px 0px 31.923px 31.923px;
    background: var(--white, #FFF);
    display: flex;
    flex-wrap: wrap;
    column-gap:80px ;
    padding-left: 1em;
    padding-top:2em ;
}
.card-2{
    margin-top: 19em;     
    height: 172.916px;
    flex-shrink: 0;
    border-radius: 0px 0px 31.923px 31.923px;
    background: var(--white, #FFF);
    display: flex;
    flex-wrap: wrap;
    column-gap:80px ;
    padding-left: 1em;
    padding-top:2em ;
}
.card-3{
    margin-top: 19em;     
    height: 172.916px;
    flex-shrink: 0;
    border-radius: 0px 0px 31.923px 31.923px;
    background: var(--white, #FFF);
    display: flex;
    flex-wrap: wrap;
    column-gap:80px ;
    padding-left: 1em;
    padding-top:2em ;
}


.topselling{
  
    margin-top: 3em;
}
.topsellingdiv{
    text-align: center;
    font-family: Poppins;    
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.topsellhead{
    color: #4B40C5;
    font-size: 32px;
}
.topsellhead2{
    font-size: 62px;
    color: var(--3rd, #14183E);
    text-transform: capitalize;
}
.next_trip{
    margin-top: 12em;
    font-family: Poppins;
    width:100%;
}
.leftandright{
    display: flex;
    justify-content: space-between;
    /* flex-wrap:wrap; */
    flex-direction: row;
    column-gap: 150px;
    padding-left: 1em;
}


.left-1{
    width: 204px;
height: 32px;
flex-shrink: 0;
    color: var(--TEXT-CLR, #5E6282);
text-align: center;

font-size: 23.942px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.left-2{
    width: 650px;

flex-shrink: 0;
color: var(--3rd, #14183E);

font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}
.left-3{
    padding-bottom: 2em;
    display: flex;
}
.left-4{
    padding-bottom: 2em;
    display: flex;
}
.left-5{
   
    display: flex;
}
.vector{
    margin-right: 1em;
}

.leftparahead1{
    width: 268px;
    height: 24px;
    flex-shrink: 0;
    color: var(--TEXT-CLR, #5E6282);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 124.5%; /* 29.88px */
}
.leftparahead2{
    width: 190px;
    height: 24px;
    flex-shrink: 0;
    color: var(--TEXT-CLR, #5E6282);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 124.5%; /* 29.88px */
}
.leftparahead3{
    width: 375px;
    height: 23px;
    flex-shrink: 0;
    color: var(--TEXT-CLR, #5E6282);
    font-size: 21.282px;
    font-style: normal;
    font-weight: 700;
    line-height: 124.5%; /* 26.496px */
}
.leftpara1{
    width: 448px;
    height: 47px;
    flex-shrink: 0;
    color: var(--TEXT-CLR, #5E6282);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.5%; /* 22.41px */

}
.leftpara2{
    width: 434px;
    height: 47px;
    flex-shrink: 0;
    color: var(--TEXT-CLR, #5E6282);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.5%; /* 22.41px */
}
.leftpara3{
    width: 434px;
    height: 54px;
    flex-shrink: 0;
    color: var(--TEXT-CLR, #5E6282);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.5%; /* 22.41px */
}
.radiusbackground{
    width: 424.228px;
    height: 439.807px;
    flex-shrink: 0;
    border-radius: 439.807px;
    opacity: 0.8;
    background: #4B40C5;
    filter: blur(99.75911712646484px);
    
}
.rightcardbackground{
    position: absolute;
    width: 443.402px;
    height: 479.354px;
    flex-shrink: 0;
    border-radius: 34.583px;
    background: var(--white, #FFF);
    box-shadow: 0px 2.46319px 4.18742px 0px rgba(0, 0, 0, 0.00), 0px 10.83803px 8.67042px 0px rgba(0, 0, 0, 0.01), 0px 26.60243px 17.29158px 0px rgba(0, 0, 0, 0.01), 0px 51.23432px 33.89346px 0px rgba(0, 0, 0, 0.01), 0px 86.21157px 62.31867px 0px rgba(0, 0, 0, 0.02), 0px 133.01216px 106.40972px 0px rgba(0, 0, 0, 0.02);
    margin-top: -400px;
    margin-left:-5em
}
.rightcard1{
    width: 384.681px;
    height: 192.94px;
    flex-shrink: 0;
    
    background: url(image_and_png/rightcard.jpg), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1.5em 0 0 1.5em;
    

  
}
.para1rightcard{
    width: 218px;
    height: 27px;
    flex-shrink: 0;
    color: var(--black, #080809);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 124.5%; /* 29.88px */
    letter-spacing: 0.36px;
}
.rightpara{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin-top: 2em ;
    padding-left: 1em;
    


}
.right{
  width: 100%;
    
}
.rightpara2{
    display: flex;
    
    column-gap: 10px;
    color: var(--text-2, #84829A);
    font-size: 21.282px;
    font-style: normal;
    font-weight: 500;
    line-height: 124.5%; /* 26.496px */
    letter-spacing: -0.106px;   
    margin-top: 1em;
}
.group{
    display: flex;
}
.rightcardcontent{
    margin-top: 2em;
    width: 315.175px;
    height: 154.592px;
    flex-shrink: 0;
    border-radius: 23.942px;
    background: var(--white, #FFF);
    box-shadow: 0px 2.46319px 4.18742px 0px rgba(0, 0, 0, 0.00), 0px 10.83803px 8.67042px 0px rgba(0, 0, 0, 0.01), 0px 26.60243px 17.29158px 0px rgba(0, 0, 0, 0.01), 0px 51.23432px 33.89346px 0px rgba(0, 0, 0, 0.01), 0px 86.21157px 62.31867px 0px rgba(0, 0, 0, 0.02), 0px 133.01216px 106.40972px 0px rgba(0, 0, 0, 0.02);
    display: flex;
    margin-left: 1.5em;

}
.rightpara5{
    width: 151.361px;
    height: 23.425px;
    flex-shrink: 0;
    color: var(--text-2, #84829A);
    font-family: Poppins;
    font-size: 21.282px;
    font-style: normal;
    font-weight: 500;
    line-height: 124.5%; /* 26.496px */
    letter-spacing: -0.426px;
   
   
}
.flexlogo{
    display: flex;
    justify-content: space-between;

}
.hearticon{
    margin-right: -180px;
    padding-top:1em

}

.building::before{
    content: url(image_and_png/buildingsvg.svg);
    
}
.building{
    padding-left: 1em;
}
.divflex{
    margin-top: 1em;
}
.maskicon{
    margin: 1em;
}
.group1{
    width: 107px;
    height: 21px;
    flex-shrink: 0;
    color: var(--text-2, #84829A);
    font-size: 18.622px;
    font-style: normal;
    font-weight: 500;
    line-height: 124.5%; /* 23.184px */
    letter-spacing: -0.652px;
}
.group2{
    width: 150px;
    height: 27px;
    flex-shrink: 0;
    color: var(--black, #080809);
    font-size: 23.942px;
    font-style: normal;
    font-weight: 500;
    line-height: 124.5%; /* 29.808px */
    letter-spacing: -0.359px;
}
.group3{
    color: var(--black, #080809);
    font-family: Poppins;
    font-size: 18.622px;
    font-style: normal;
    font-weight: 500;
    line-height: 124.5%;
    letter-spacing: -1.024px;
    margin-top: 1em;
}
.percentagecolor{
    color: #8A79DF;
}
.choose{
    margin-top: 8em;
}

.choose1{
    text-align: center;
    color: #2C2D32;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
}
.whycolor{
    color: #7F2736;
}
.choose2{
    text-align: center;
    padding-left: 9.5em;
    width: 65vw;
    height: 125.398px;
   
    color: #2C2D32;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 43.2px */
}
.choice{
    margin-top: 4em;
    padding-top: 2em;
    display: flex;
    text-align: center;
    justify-content:space-around;
    
}
.quality-1{
    width: 430px;
    height: 405px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);
    
    position: relative;
}
.quality-2{
    width: 430px;
    height: 405px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);
}
.quality-3{
    width: 430px;
    height: 405px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);
}
.quality-a-2{
    width: 327px;
    height: 43px;
    flex-shrink: 0;
    color: #000;
    margin-top: -1em;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 1.5em;

}
.quality-a-3{
    margin-top: 2em;
    padding-left: 2.5em;
    width: 325px;
    height: 136px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 36px */

}
.quality-b-2{
    padding-left: 1.75em;
    width: 329px;
    height: 42px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.quality-b-3{
    padding-left: 1.75em;
    width: 361px;
    height: 102px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 36px */
}
.quality-c-2{
    padding-left: 1.5em;
    width: 340px;
    height: 42px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.quality-c-3{
    padding-left: 3.25em;
    width: 305px;
    height: 136px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 36px */
}

.bgEllipse{
    margin-top: -3.5em;
    padding-top: 2.5em;
    display: block;
    height: 30vh;
  background-image: url(image_and_png/Ellipse_5.svg);
  background-repeat: no-repeat;
  background-position: top;  
  
}
.bgEllipse2{
    margin-top: -3.5em;
    padding-top: 2.5em;
    display: block;
    height: 30vh;
  background-image: url(image_and_png/Ellipse_6.svg);
  background-repeat: no-repeat;
  background-position: top;  
}
.bgEllipse3{
    margin-top: -3.5em;
    padding-top: 2.5em;
    display: block;
    height: 30vh;
  background-image: url(image_and_png/Ellipse_7.svg);
  background-repeat: no-repeat;
  background-position: top;  
}


.subscribe_form{
    margin-top: 5em;
    width: 100%;
    height: 484.792px;
    flex-shrink: 0;
    border-radius:171.586px 26.602px  26.602px 26.602px; 
    background: rgba(223, 215, 249, 0.2);
    display: flex;
    font-family: Poppins;
    flex-direction: column;
    justify-content: center;
    
   
}
.subscribe_content{

    margin-left: 6em;
    width: 991px;
    height: 161px;
    flex-direction: column;
    justify-content: center;
    color: var(--TEXT-CLR, #5E6282);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 71.827px; /* 224.458% */
}
.email{
    margin-top: 2em;
    margin-left: 13em;
}
#email{
    border: #FFF;
    width: 485.947px;
    height: 78.49px;
    flex-shrink: 0;
    border-radius: 13.301px;
    background: var(--white, #FFF);
   
}
.btnemail{
    margin-left: 1.5em;
    width: 207.768px;
    height: 78.49px;
    flex-shrink: 0;
    border: none;
    border-radius: 13.301px;
    background: var(--gradient, linear-gradient(180deg, #FF946D 0%, #FF7D68 100%));
    color: #fff;
}

input[type="email"]::placeholder {
             
    /* Firefox, Chrome, Opera */
    background-image: url(image_and_png/emailsvg.svg);
    text-align: left;
    padding-left: 4em;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 2em;
}
.contactus{
    margin-top: 7em;
    display: flex;
    justify-content: space-between;
    padding: 1em;

}
.contactus-1{
    margin-top: 2.5em;
     width: 300px;
    color: var(--TEXT-CLR, #5E6282);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 124.5%; /* 22.41px */
}
.common{
    color: var(--TEXT-CLR, #5E6282);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 250%; /* 22.41px */
    
}
.heading_contactus{
    color: var(--black, #080809);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 124.5%; /* 39.84px */
    margin-bottom: 1em;
}
.discover{
    margin-top: 1em;
}
.discoverhead{
    color: var(--TEXT-CLR, #5E6282);
    font-family: Poppins;
    font-size: 26.602px;
    font-style: normal;
    font-weight: 500;
    line-height: 124.5%; /* 33.12px */
    letter-spacing: 0.133px;
}
.icons{
    display: flex;
    
}
.insta{
    width: 59.855px;
    height: 59.855px;
    border-radius: 2em;
    background: var(--angular, conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60.00000178813934deg, #C68BF0 106.09081864356995deg, #D164DA 153.7500035762787deg, #C963E8 221.24999284744263deg, #BFC2E8 258.75deg, #FFC999 288.7499928474426deg, #D0D8C9 315deg, #BAD0F1 334.13365602493286deg, #CED8CB 358.9677572250366deg, rgba(255, 255, 255, 0.00) 360deg));
    margin-top: .5em;
    
   
    /* flex-shrink: 0;
    
    background-image: url(image_and_png/Backgroundinsta.svg);
    background-repeat: no-repeat; */
    
}
.instasvg{
    margin:1em;
      
}
.phonelink{
    margin-top: 1em;
    display:flex;
    justify-items: space-between;
    flex-wrap: wrap;
    column-gap: 1em;
}
.plastore{
    display:flex;
    width: 142.323px;
    height: 46.554px;
    flex-shrink: 0;
    border-radius: 23.277px;
    background: var(--black, #080809);
    
}
.play{
   
    margin: .5em;
}
.endline{
    margin-top: 3em;
    text-align: center;
}

@media(max-width: 600px){
.firstpage{
    background-size: 100%;
}
.leftandright{
    flex-direction: column;
}
.choice{
    justify-content: center;
    flex-direction: column;
    
   
    
}
.quality-a-2,.quality-b-2,.quality-c-2{
    margin-top: -5em;
}
.quality-1,.quality-2,.quality-3{
    padding: 2em !important;
}
.subscribe_content {
    /* margin-left: 6em; */
    width: auto;
    height: 10vh;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 71.827px; */
}
.email {
    margin-top: 2em;
    margin-left:2em;
}
.btnemail{
    margin-left: 0.5em;
}
.contactus {

    margin-top: 7em;
    display: unset;
    text-align: center;

    justify-content: space-between;
    padding: 1em;
}
.contactus-1{
    width: auto;
    text-align: center;
}
.choose2 {
    text-align: center;
    padding:1em 1em;
    width: 95vw;
    height: 125.398px;
    color: #2C2D32;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}
.left-2 {
    width: 95vw;
    flex-shrink: 0;
    color: var(--3rd, #14183E);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.topsellhead2 {
    font-size: 40px;
    color: var(--3rd, #14183E);
    text-transform: capitalize;
}
.cat2{
    width: 95vw;
}
.cards{
    display: unset;
}
.card{
    width: 40vw;
}
.firstpage{
    height:34vh;
}
.navbar ul {
    display: flex;
    width: 90vw;
    justify-content: unset;
    padding: 0.5rem 1.25rem;
    height: 2.5rem;
    column-gap: 2px;
}
.heading{
    font-size: unset;
}
.navli{
    
    font-size: unset;
    font-weight: unset;
}
.btn {
    /* display: inline-flex; */
    height: 40px;
    padding: unset;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #EC682C;
    background: #EC682C;
    color: #FFF;
    font-family: Poppins;
    font-size: unset;
    font-style: normal;
    font-weight: unset;
    /* line-height: normal; */
}
.page1content{
    font-size: unset;
    padding-top: 5em;
    line-height: unset;
}
.pg1line{
    width: 90vw;
    font-size: unset;

}
.retbg {
    display: flex;
    /* width: 195px;
   
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0; */
    width: 25vw;
    height: 5vh;
    font-size: unset;
    
}
}